<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stibo's ChatGPT </title>
</head>
<body>
    <h1>How can I help you today?</h1>

    {% block content %}
        <p>{{ answer }}</p>
        <form action="" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <p>
                {{ form.message.label }}<br>
                {{ form.message(size=32) }}
            </p>

            <p>{{ form.submit() }}</p>
        </form>

    {% endblock %}
</body>
</html>